header {
  padding-bottom: 35px;
  padding-top: 50px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
body div {
  display: block;
}
