* {
  margin: 0;
  box-sizing: border-box;
}
header {
  padding-bottom: 35px;
  padding-top: 50px;
}
ul li a {
  color: #626262;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.img {
  padding: 30px 15px;
}
input[type="button"] {
  padding: 5px 10px;
  text-transform: uppercase;
}
main {
  width: 1024px;
  margin: 0 auto;
}

main,
header ul {
  width: 1024px;
  margin: auto;
}
header a:hover {
  color: #626262;
  transition: 0.5s;
}
header a {
  transition: 0.5s;
}
button:hover {
  transition: 0.5s;
  transform: scale(1.5);
}
button {
  transition: 0.5s;
  text-align: center;
}
article {
  width: 50%;
  padding: 0 31px;
  margin: 65px 0;
}
article img {
  width: 100%;
}
.img-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.small_text {
  font-size: 14px;
  color: #b4ad9e;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
article h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #626262;
}
.more {
  text-align: center;
}
button {
  width: 165px;
  height: 60px;
  background: transparent;
}
