* {
  margin: 0;
}
header {
  padding-bottom: 35px;
  padding-top: 50px;
}
ul li a {
  color: #626262;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.small_text {
  color: #c8c3b8;
  text-transform: uppercase;
}
.img-inner {
  display: flex;
  padding: 15px 10px;
}
.img {
  padding: 30px 15px;
}
main,
header ul {
  width: 800px;
  margin: auto;
}
input[type="button"] {
  text-transform: uppercase;
  padding: 5px 10px;
}
.img-inner img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
