* {
  margin: 0;
  box-sizing: border-box;
}
header {
  padding-bottom: 35px;
  padding-top: 50px;
}
ul li a {
  color: #626262;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.small_text {
  color: #c8c3b8;
}

.img {
  padding: 30px 15px;
}
input[type="button"] {
  padding: 5px 10px;
  text-transform: uppercase;
}
main {
  width: 1054px;
  margin: 0 auto;
}

main,
header ul {
  width: 1024px;
  margin: auto;
}
header a:hover {
  color: blue;
  background-color: #626262;
  transition: 0.5s;
}
header a {
  transition: 0.5s;
}
button:hover {
  transition: 0.5s;
  transform: scale(1.5);
}
button {
  transition: 0.5s;
  text-align: center;
}
article {
  width: 50%;
  float: left;
  padding: 0 31px;
  margin: 65 0;
}
main {
  width: 1024px;
  max-width: 100%;
}
